/**
 * Modal component stiles based on `react-modal`
 *
 */

.Modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.75);
}

.Modal__container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90vw;
    max-height: 90vh;
    border: 1px solid rgb(204, 204, 204);
    background: rgb(255, 255, 255);
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;
}

/**
 * UserDataTable
 */

.UserDataTable {
    border-spacing: 0px;
    border: 2px solid;
}

.UserDataTable th, td {
    border: 1px solid;
    padding: 0.3em;
}

.UserDataTable tr:nth-child(even) {
    background-color: #FEE;
}

.UserDataTable__Header__SortButtonsContainer {
    margin-left: 1em;
    margin-right: 1em;
    font-weight: normal;
}

.UserDataTable__Header__SortButtonsContainer__SortButton {
    margin-left: 0.2em;
    margin-right: 0.2em;
}